CTL
[{"id":"a1757954.3e6908","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7bd0540.7949e8","type":"debug","z":"a1757954.3e6908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":340,"wires":[]},{"id":"27256efc.9e3c62","type":"modbus-read","z":"a1757954.3e6908","name":"Mod","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"19054","quantity":"6","rate":"1","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"50b9de66.96b05","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":260,"y":400,"wires":[["e9c27a9f.26ba18","41b969d1.a84e98"],[]]},{"id":"e9c27a9f.26ba18","type":"modbus-response","z":"a1757954.3e6908","name":"","registerShowMax":20,"x":580,"y":400,"wires":[]},{"id":"41b969d1.a84e98","type":"function","z":"a1757954.3e6908","name":"","func":"\nfunction convertToFloat(msg){\n    let pay = msg;\n    const buf = Buffer.allocUnsafe(4);\n    buf.writeUInt16BE(pay[0]);\n    msg.payload = buf.readFloatBE(0);\n\n    msg.payload = buf.readFloatBE(0).toFixed(1);\n    \n    return msg.payload;\n}\n\nvar msgB = {};\nvar msgT = {};\nvar msgH = {};\nvar temp = [];\nvar Humi = [];\n\nvar battery = msg.payload[0];\ntemp[0] = msg.payload[1];\ntemp[1] = msg.payload[2];\nHumi[0] = msg.payload[4];\nHumi[1] = msg.payload[5];\n\n\nmsgB.payload =battery;\nmsgT.payload =convertToFloat(temp);\nmsgH.payload =convertToFloat(Humi);\n\nmsg.payload = \n{   \"Battery\" : parseInt(msgB.payload) ,\n    \"Temperature\" : parseFloat(msgT.payload) ,\n    \"Humidity\":parseFloat(msgH.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["c8d12bcc.418858"]]},{"id":"a1d44deb.f52e8","type":"toFloat","z":"a1757954.3e6908","name":"tem","toFixed":"1","x":770,"y":220,"wires":[[]]},{"id":"f112cd16.7be7e","type":"buffer-parser","z":"a1757954.3e6908","name":"Temperature","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32be","name":"Temperature","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":550,"y":220,"wires":[["a1d44deb.f52e8"]]},{"id":"f5633fcb.ef67e","type":"buffer-parser","z":"a1757954.3e6908","name":"Humidity","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32be","name":"Humidity","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":540,"y":280,"wires":[["5cba34bb.57aa7c"]]},{"id":"5cba34bb.57aa7c","type":"toFloat","z":"a1757954.3e6908","name":"Hum","toFixed":"1","x":770,"y":300,"wires":[[]]},{"id":"a60f3dd1.9bfaa","type":"modbus-read","z":"a1757954.3e6908","name":"Mod","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"18010","quantity":"2","rate":"1","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"50b9de66.96b05","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":540,"wires":[["4a47ad89.717104","dcb38b77.e84338"],[]]},{"id":"4a47ad89.717104","type":"modbus-response","z":"a1757954.3e6908","name":"","registerShowMax":20,"x":570,"y":540,"wires":[]},{"id":"a754dca0.1cb3d","type":"moment","z":"a1757954.3e6908","name":"Date1","topic":"Date2","input":"","inputType":"msg","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Bangkok","x":820,"y":660,"wires":[["f7bd0540.7949e8","5d4e3b.b71a31c4"]]},{"id":"dcb38b77.e84338","type":"buffer-parser","z":"a1757954.3e6908","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"Date","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":440,"y":620,"wires":[["9c81cdcc.f1bfe"]]},{"id":"9c81cdcc.f1bfe","type":"calculator","z":"a1757954.3e6908","name":"Date","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"1000","round":false,"decimals":0,"x":610,"y":640,"wires":[["a754dca0.1cb3d"]]},{"id":"c8d12bcc.418858","type":"influxdb out","z":"a1757954.3e6908","influxdb":"820d8ae5.b090e8","name":"table","measurement":"tb_lora2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":410,"y":40,"wires":[]},{"id":"bd179cec.b9c5","type":"influxdb out","z":"a1757954.3e6908","influxdb":"820d8ae5.b090e8","name":"tableDate","measurement":"tb_lora5","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1120,"y":520,"wires":[]},{"id":"5d4e3b.b71a31c4","type":"function","z":"a1757954.3e6908","name":"","func":"\n\nmsg.payload = {\"Date\" : msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":600,"wires":[["bd179cec.b9c5"]]},{"id":"50b9de66.96b05","type":"modbus-client","name":"CTL_MOD","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"13.54.124.10","tcpPort":"5052","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"0","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"820d8ae5.b090e8","type":"influxdb","hostname":"192.168.116.230","port":"8086","protocol":"http","database":"CTL_Lora","name":"DB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
