Demo.json
[{"id":"948a7418.59aec8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95e71326.9e6f7","type":"modbustcp-server","name":"CTL","host":"13.54.124.10","port":"5052","unit_id":"2","reconnecttimeout":""},{"id":"143de86f.0fa318","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fdefb485.10e1b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97fc1e7b.59723","type":"ui_group","name":"Group1","tab":"143de86f.0fa318","order":1,"disp":true,"width":"6","collapse":false},{"id":"325156b2.fe2aca","type":"ui_group","name":"Group2","tab":"143de86f.0fa318","order":2,"disp":true,"width":"12","collapse":false},{"id":"85502071.af9ff","type":"ui_group","name":"Group3","tab":"143de86f.0fa318","order":3,"disp":true,"width":"8","collapse":false},{"id":"50b9de66.96b05","type":"modbus-client","name":"CTL_MOD","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"13.54.124.10","tcpPort":"5052","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":0,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"76b97c80.1b7af4","type":"modbustcp-server","name":"CTL_MOD","host":"13.54.124.10","port":"5052","unit_id":"2","reconnecttimeout":""},{"id":"40911588.b42f6c","type":"debug","z":"948a7418.59aec8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":220,"wires":[]},{"id":"beb57e3d.bd67f","type":"function","z":"948a7418.59aec8","name":"","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4);\nbuf.writeUInt16BE(pay[0]);\nmsg.payload = buf.readFloatBE(0);\n\nmsg.payload = buf.readFloatBE(0).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":100,"wires":[["53af421a.982a5c","230bd3dc.c4417c","403f6603.0a0238"]]},{"id":"9631f66e.1494b8","type":"modbus-response","z":"948a7418.59aec8","name":"","registerShowMax":20,"x":590,"y":420,"wires":[]},{"id":"eba785e5.60c778","type":"modbus-read","z":"948a7418.59aec8","name":"CTL","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"19054","quantity":"6","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"50b9de66.96b05","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":290,"y":420,"wires":[["9631f66e.1494b8","492acf69.df5c7"],[]]},{"id":"492acf69.df5c7","type":"function","z":"948a7418.59aec8","name":"","func":"var msgBatt = {};\nvar msgTemp = {};\nvar msgHumi = {};\n\nmsgBatt.payload = msg.payload[0];\nmsgTemp.payload = [msg.payload[1],msg.payload[2]];\nmsgHumi.payload = [msg.payload[4],msg.payload[5]];\n\nreturn [msgBatt,msgTemp,msgHumi];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["bd163b8b.aed698"],["beb57e3d.bd67f"],["30a7e394.406fdc"]]},{"id":"30a7e394.406fdc","type":"function","z":"948a7418.59aec8","name":"","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4);\nbuf.writeUInt16BE(pay[0]);\nmsg.payload = buf.readFloatBE(0);\n\nmsg.payload = buf.readFloatBE(0).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":200,"wires":[["406e76ec.da4538","b8e77da3.7435a","e150d1fb.834a7"]]},{"id":"bd163b8b.aed698","type":"ui_text","z":"948a7418.59aec8","group":"97fc1e7b.59723","order":1,"width":0,"height":0,"name":"Battery","label":"Battery","format":"{{msg.payload}} %","layout":"row-spread","x":640,"y":40,"wires":[]},{"id":"53af421a.982a5c","type":"ui_text","z":"948a7418.59aec8","group":"97fc1e7b.59723","order":2,"width":"0","height":"0","name":"Temp","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":850,"y":80,"wires":[]},{"id":"406e76ec.da4538","type":"ui_text","z":"948a7418.59aec8","group":"97fc1e7b.59723","order":3,"width":0,"height":0,"name":"Humi","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":850,"y":220,"wires":[]},{"id":"26169467.64b9dc","type":"modbus-read","z":"948a7418.59aec8","name":"CTL_Time","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"18010","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"50b9de66.96b05","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":300,"y":520,"wires":[["4a0b76f5.f4fc18","b5415568.13d808"],[]]},{"id":"4a0b76f5.f4fc18","type":"modbus-response","z":"948a7418.59aec8","name":"Res","registerShowMax":20,"x":550,"y":520,"wires":[]},{"id":"b5415568.13d808","type":"buffer-parser","z":"948a7418.59aec8","name":"Date Parser","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"time","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":430,"y":600,"wires":[["c23f52d2.ddb04"]]},{"id":"ed707fd2.13949","type":"ui_text","z":"948a7418.59aec8","group":"97fc1e7b.59723","order":3,"width":0,"height":0,"name":"DateTime","label":"DateTime","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":600,"wires":[]},{"id":"c23f52d2.ddb04","type":"function","z":"948a7418.59aec8","name":"Convert Date UNIX","func":"msg.payload = msg.payload * 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":600,"wires":[["7718f39d.895e3c"]]},{"id":"7718f39d.895e3c","type":"moment","z":"948a7418.59aec8","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"Asia/Bangkok","x":920,"y":600,"wires":[["ed707fd2.13949"]]},{"id":"230bd3dc.c4417c","type":"ui_chart","z":"948a7418.59aec8","name":"Temperature","group":"325156b2.fe2aca","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"360","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":40,"wires":[[]]},{"id":"b8e77da3.7435a","type":"ui_chart","z":"948a7418.59aec8","name":"Humidity","group":"325156b2.fe2aca","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"80","removeOlder":1,"removeOlderPoints":"360","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":180,"wires":[[]]},{"id":"c6be17a6.3dfb58","type":"comment","z":"948a7418.59aec8","name":"Battery ,Temperature , Humidity","info":"","x":350,"y":380,"wires":[]},{"id":"6b01d51.06c282c","type":"comment","z":"948a7418.59aec8","name":"Timestamp","info":"","x":280,"y":480,"wires":[]},{"id":"e150d1fb.834a7","type":"ui_gauge","z":"948a7418.59aec8","name":"Humi","group":"85502071.af9ff","order":2,"width":0,"height":0,"gtype":"gage","title":"Humi","label":"%","format":"{{value}}","min":"50","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"70","x":850,"y":260,"wires":[]},{"id":"403f6603.0a0238","type":"ui_gauge","z":"948a7418.59aec8","name":"Temp","group":"85502071.af9ff","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"35","x":850,"y":120,"wires":[]}]
